<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
	  throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <variable name="generic" value="${longdate}|${machinename}|${logger}|${level}|${message}|${exception:format=tostring}|${stacktrace}"/>



	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
	  <target xsi:type="Console" name="logconsole"
		  layout="${generic}" />


	  <target xsi:type="File" name="logfile" fileName="${basedir}/logs/${shortdate}.log"
			 layout="${generic}" />

	  <target xsi:type="Database"
		 name="sqlServer"
		 connectionString="Data Source=(localdb)\MSSQLLocalDB;initial Catalog=Log;Integrated Security=true;"
		 commandText="INSERT INTO Log(Host,Logger,Level,Message,Exception,StackTrace,Timestamp) VALUES (@host,@logger,@level,@msg,@exception,@trace,@datetime)">
		  <parameter name="@host" layout="${machinename}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@msg" layout="${message}" />
		  <parameter name="@exception" layout="${exception:tostring}" />
		  <parameter name="@trace" layout="${stacktrace}" />
		  <parameter name="@datetime" layout="${date}" />
	  </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
	<logger name="*" levels="Trace,Debug,Info,Warn" writeTo="logconsole" />

	<logger name="*" levels="Error,Fatal" writeTo="logfile,sqlServer" />

  </rules>
</nlog>
